# Duplicate this file with the name ".env" and change the variables to fit your config

# How many minutes before calling the api again
UPDATE_FREQUENCY=1

# The Discord token to login with
DISCORD_TOKEN=
